# Node modules
node_modules/

# Environment variables
.env

# Prisma migrations (optional)
backend/prisma/migrations/

# Docker artifacts
*.log
docker-compose.override.yml

# IDE configs
.vscode/
.idea/

